In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [3]:
# Load data
raw_data = pd.read_csv('Social_Network_Ads.csv')
raw_data.head(10)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0
5   27            58000          0
6   27            84000          0
7   32           150000          1
8   25            33000          0
9   35            65000          0

In [5]:
# Describe Data
raw_data.describe()

# Check missing value
raw_data.isna().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
# Preprocess data
raw_data['log_salary'] = np.log(raw_data['EstimatedSalary'])
raw_data.head(10)

# Assign data to new variable
data = raw_data.loc[:,['Age', 'log_salary', 'Purchased']]
data.head(10)

   Age  log_salary  Purchased
0   19    9.852194          0
1   35    9.903488          0
2   26   10.668955          0
3   27   10.950807          0
4   19   11.238489          0
5   27   10.968198          0
6   27   11.338572          0
7   32   11.918391          1
8   25   10.404263          0
9   35   11.082143          0

In [13]:
# Assign data to variable X and y
X = data[['Age', 'log_salary']]
y = data[['Purchased']]


# Split data
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   test_size=0.3, 
                                                   random_state=42)

In [14]:
# Fitting data
rf = RandomForestClassifier(n_estimators=150,
                           max_depth=5, min_samples_leaf=0.2)

rf.fit(X_train, y_train)

/tmp/ipykernel_18888/3153349758.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, min_samples_leaf=0.2, n_estimators=150)

In [15]:
# make prediction
y_pred = rf.predict(X_test)

In [18]:
# Measure model qualification
accuracy = accuracy_score(y_test, y_pred)
print('Nilai akurasi model adalah:', accuracy)

report = classification_report(y_test, y_pred)
print(report)

Nilai akurasi model adalah: 0.8666666666666667
              precision    recall  f1-score   support

           0       0.84      0.96      0.90        73
           1       0.92      0.72      0.81        47

    accuracy                           0.87       120
   macro avg       0.88      0.84      0.85       120
weighted avg       0.87      0.87      0.86       120

In [24]:
new_data = pd.DataFrame({'Age':X_test['Age'],
                         'log_salary':X_test['log_salary'], 
                         'Purchased':np.array(y_test).reshape(-1), 
                         'Prediction':y_pred})

new_data.head(10)

     Age  log_salary  Purchased  Prediction
209   46    9.998798          0           1
280   59   11.385092          1           1
33    28   10.691945          0           0
210   48   11.472103          1           1
93    29   10.239960          0           0
84    30   11.034890          0           0
329   47   11.580584          1           1
94    29   11.326596          0           0
266   40   11.225243          0           0
126   42   11.082143          0           0